Creacion del entorno virtual:

1. "python -m venv virtualenv(nombre del entorno)"
2. Activar el entorno: "./virtualenv/Scripts/activate"


Requerimientos:

1. pandas
2. mysql-connector-python
3. openpyxl
4. Fastapi
5. uvicorn
6. sqlalchemy
7. mysqlclient
8. requests

instalacion: "pip install pandas mysql-connector-python openpyxl Fastapi uvicorn sqlalechemy mysqlclient requests"